html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.always_text--img, .always_text--bt_new, .always_main, .cicd_main--main, .header_nav--nav, .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: 1px solid black;
  border-radius: 10px;
}

.header {
  padding-left: 50px;
  padding-right: 50px;
}

.header_nav--nav {
  width: 500px;
}
.header_nav--nav a {
  color: black;
  font-family: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: none;
}
.header_nav--nav a:hover {
  color: rgb(33, 12, 230);
}

button {
  width: 70px;
  height: 30px;
  background-color: black;
  color: white;
}

.cicd_main {
  width: none;
  height: 792px;
}

.cicd_main--main__text {
  width: 655px;
  height: none;
}

.cicd-textone {
  color: black;
  font-family: none;
  font-size: 32px;
  font-style: none;
  font-weight: 700;
  line-height: none;
  letter-spacing: none;
}

.cicd-texttwo {
  color: #999795;
  font-family: none;
  font-size: 24px;
  font-style: none;
  font-weight: 300;
  line-height: none;
  letter-spacing: none;
  margin: 20px 0 20px 0;
  padding: none;
}

.title_main {
  height: 572px;
}

.title--text {
  text-align: center;
}

#line-text {
  text-decoration: line-through;
  color: #999795;
}

.title--text {
  color: black;
  font-family: none;
  font-size: 56px;
  font-style: none;
  font-weight: 900;
  line-height: none;
  letter-spacing: none;
}

.always_main {
  padding-top: 30px;
}

.always_text--text {
  color: black;
  font-family: none;
  font-size: 86px;
  font-style: none;
  font-weight: 900;
  line-height: none;
  letter-spacing: none;
}

.always_text--text_p {
  color: black;
  font-family: none;
  font-size: 24px;
  font-style: none;
  font-weight: 100;
  line-height: none;
  letter-spacing: none;
  padding: 25px 0 30px 0;
}

.always_bt {
  width: 150px;
  height: 40px;
  background-color: rgb(241, 148, 27);
  color: black;
  margin-bottom: 30px;
}

.always_text--bt_new {
  width: 350px;
}

.always_text--img {
  width: 120px;
}

.always_text--p {
  padding-bottom: 30px;
}

.container {
  margin: auto;
  max-width: 1300px;
}

body {
  background-color: #f5f3f4;
}/*# sourceMappingURL=style.css.map */