@import './base/vars';
@import './base/reset';
@import './base/mixin';
@import './blocks/header';
@import './blocks/cicd_main';
@import './blocks/main-title';
@import './blocks/main-always';





.container{
    margin: auto;
    max-width: 1300px;
}

body{
    background-color: #f5f3f4;
}