%flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%flextitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
%button{
    border: 1px solid black;
    border-radius: 10px;
}
@mixin block($w, $h){
    width: $w;
    height: $h;
}
@mixin mp($m, $p){
    margin: $m;
    padding: $p;
}

@mixin button($w, $h, $bg-c, $color){
    width: $w;
    height: $h;
    background-color: $bg-c;
    color: $color; 
}
@mixin text($color, $ff, $fsize, $fstyle, $fw, $lh, $ls){
    color: $color;
    font-family: $ff;
    font-size: $fsize;
    font-style: $fstyle;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}
@mixin block-dev($bg, $br){
    background-color: $bg;
    border-radius: $br;
}